*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input{
  height: 44px;
  width: 585px;
}

.search{
  position: relative; 
  display: inline-block;
  border: 1px solid teal;
  display: flex;
}

.search .span-wrapper{
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}